<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Name" formControlName="name">

  <input type="email" placeholder="Email" formControlName="email">

  <input type="text" placeholder="Phone" formControlName="phone">

  <label>
    <input type="radio" value="Male" formControlName="gender">Male
  </label>
  <label>
    <input type="radio" value="Female" formControlName="gender">Female
  </label>
  <textarea placeholder="Address" formControlName="address"></textarea>

  <input type="date" formControlName="dob">

  <input type="file" (change)="onFileChange($event, 'profilePhoto')">

  <input type="number" placeholder="Experience (Years)" formControlName="experience">

  <input type="text" placeholder="Current Job Title" formControlName="currentJobTitle">

  <input type="text" placeholder="Company Name" formControlName="companyName">

  <!-- Skills (Multi Select Checkbox) -->
  <div *ngFor="let skill of skillOptions">
    <label>
      <input type="checkbox" [value]="skill" (change)="onSkillChange($event)">
      {{ skill }}
    </label>
  </div>

  <!-- Skill Level -->
  <select formControlName="primarySkillLevel">
    <option value="">Select Level</option>
    <option *ngFor="let level of levels" [value]="level">
      {{ level }}
    </option>
  </select>

  <!-- Resume -->
  <input type="file" (change)="onFileChange($event, 'resume')">

  <button type="submit">Submit</button>

</form>